@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

// Hide only visually, but have it available for screenreaders
@mixin hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visually-hidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

// Hide visually and from screen readers, but maintain layout
@mixin invisible {
  visibility: hidden;
}
